body {
    background-color: #808080;
}
h1 {
    text-align: center; 
    margin-top: 20px;
}
button {
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #ffffff; 
    color: #007bff; 
    border: 2px solid #007bff; 
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    color: #ffffff; 
}
select {
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
}